/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
  padding: 120px 0px;
}

.card {
  width: 340px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.06), 0px 1px 3px 0 rgb(0 0 0 / 0.10);
}

.cover-image {
  align-self: stretch;
  height: 288px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
  padding: 24px 16px;
}

.card-title-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
}

.card-description-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
}

.card-tag-container {
  display: flex;
  align-items: center;
  background-color: #f0fdf4;
  padding: 2px 8px;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: #bbf7d0;
  width: fit-content;
}

.card-tag {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #15803d;
}

.card-title {
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #171717;
}

.card-description {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

.card-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 6px;
  border-radius: 4px;
}

.card-cta-text {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4338ca;
}

.card-cta-image {
  width: 20px;
  height: 20px;
}